{% extends 'core/base.html' %}

  {% block content %}
  <div class="Cart-Container">
    <div class="Cartitems">
      <div class="itom">
        <h1 class="Name">Hotel Name</h1>
      </div>
      <div class="Amount">
        You are Booking:- Number of Rooms
      </div>
      
      <div class="Checkout-table">
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <img src="images/koljata.jpg" alt="">
                  </td>
                </tr>
              </table>
            </td>
            
            <td>
              <table style="float: right;">
                <div class="ct">PAYMENT</div>
                <tr>
                  <td>
                    Card Type
                    <br>
                    <img src="./images/card.png">
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox">
                    Via UPI<br>
                    <input class="card_input" type="text" name="alt" placeholder="Enter Card Number">
                    <input class="card_input_cvv" type="text" name="alt" placeholder="Enter CVV">
                  </td>
                </tr>
                <tr>
                  <td>Subtotal</td>
                  <td>$200</td>
                </tr>
                <tr>
                  <td>Items</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>
                    <a href="paysuc.html" class="Place-button">Place Order</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endblock content %}