{% extends 'core/base.html' %}
{% load static %}

  {% block content %}
  <div class="search-container">
    <div class="hotel_content">
      <br>
      <div class="info">
        <br>
        <br>
        <h2>Book Hotels</h2>
        <h4>Your Dream Destination Awaits...</h4>
      </div>
      <br>
          {% if curr_user %}
          <form action="{% url 'core:hotels' curr_user.id %}" method="get" id="filter-form">
          {% else %}
          <form action="{% url 'core:anon_hotels' %}" method="get" id="filter-form">
          {% endif %}
            <div class="item">
              <select id="City" name="city" class="search_bar" style="font-size: 1rem;">
                <option value="" selected> 
                  All Cities
                </option>
                <option value="Ahmedabad">
                  Ahmedabad
                </option>
                <option value="Bengaluru">
                  Bengaluru
                </option>
                <option value="Chennai">
                  Chennai
                </option>
                <option value="Delhi">
                  Delhi
                </option>
                <option value="Hyderabad">
                  Hyderabad
                </option>
                <option value="Jaipur">
                  Jaipur
                </option>
                <option value="Kolkata">
                  Kolkata
                </option>
                <option value="Mumbai">
                  Mumbai
                </option>
                <option value="Pune">
                  Pune
                </option>
                <option value="Surat">
                  Surat
                </option>
              </select>
              </i>
            </div>

            <div class="item">
              <label for="checkin" style="font-size: 1rem;">Check-in date:</label>
              <input name="checkin-date" id="checkin" type="date"
              style="font-size: 1rem;" class="search_bar"></i>
            </div>

            <div class="item">
              <label for="checkout" style="font-size: 1rem;">Check-out date:</label>
              <input name="checkout-date" id="checkout" type="date" 
              style="font-size: 1rem;" class="search_bar"></i>
            </div>

            <div class="item">
              <input type="number" name="person-count" style="font-size: 1rem;"
              placeholder="Number of People" class="search_bar"></i>
            </div>

            <button type="submit" style="margin: 1rem;">
              Search
            </button>
          </form>
    </div>
  </div>
    
    <div class="categories">
      <br>
      <br>
      <h2 id="recomendations">Best Hotels For You</h2>
      <div class="prods-center container">
        {% for hotel in recommended_hotels %}
        <div class="prods">
          <div class="prods-hd">
            <img src="{% static hotel.get_img_name %}" alt="">
          </div>
          
          <div class="prods-footer">
            <h3 style="font-size: 1.5rem;">{{ hotel.name }}</h3>
            <h2 style="font-size: 1rem;">{{ hotel.stars }}-star</h2>

            <div class="rating">
              <h5 style="color: rgba(255, 255, 255, 0.945); font-weight: 100;">{{ hotel.city.name }}</h5>
              <h5 style="color: rgba(255, 255, 255, 0.829); font-weight: 100;">User Rating: {{ hotel.get_avg_rating }}/5</h5>
            </div>
            
            <h3 class="price">Rs. {{ hotel.standard_room_price }}</h3>
            <h5>per night</h5>
            {% if curr_user %}
            <form action="{% url 'core:hotel-details' curr_user.id hotel.id %}" 
            style="padding: 0rem; background-color: transparent;" method="get">
            {% else %}
            <form action="{% url 'core:anon_hotel-details' hotel.id %}" 
            style="padding: 0rem; background-color: transparent;" method="get">
            {% endif %}
              {% if checkin_date %}
              <input type="hidden" name="checkin-date" value="{{ checkin_date }}">
              {% endif %}
              {% if checkout_date %}
              <input type="hidden" name="checkout-date" value="{{ checkout_date }}">
              {% endif %}
              {% if person_count %}
              <input type="hidden" name="person-count" value="{{ person_count }}">
              {% endif %}
              <button type="submit" style="margin: 0.8rem;">View</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="fa-info">
      <h2>The Cities You Aspire For...</h2>
      <a id="grlcth"></a>
      <section class="top-picks section">
        <div class="prdt-header">
          <div class="prdt-container">
            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Delhi</h2>
                  <h4 class="quote">The Capital</h4>
                </div>
                <img  src="{% static 'core/images/delhi.jpg' %}" alt="">
              </a>
            </div>

            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Mumbai</h2>
                  <h4 class="quote">The Hub of Bollywood</h4>
                </div>
                <img  src="{% static 'core/images/mumbai.jpg' %}" alt=""> 
              </a>
            </div>

            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">  
                  <h2>Kolkata</h2>
                  <h4 class="quote">Adventure Capital of India</h4>
                </div>
                <img  src="{% static 'core/images/kolkata.jpg' %}" alt="">
              </a>
            </div>

            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Bengaluru</h2>
                  <h4 class="quote">Silicon valley of India</h4>
                </div>
                <img  src="{% static 'core/images/bengaluru.jpg' %}" alt="">
              </a>
            </div>

            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Ahmedabad</h2>
                  <h4 class="quote">Manchester of India</h4>
                </div>
                <img src="{% static 'core/images/ahmedabad.jpg' %}" alt="">
              </a>
            </div>

            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Jaipur</h2>
                  <h4 class="quote">The Pink City</h4>
                </div>
                <img  src="{% static 'core/images/jaipur.jpg' %}" alt="">
              </a>
            </div>

            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Pune</h2>
                  <h4 class="quote">The Queen of Deccan</h4>
                </div>
                <img  src="{% static 'core/images/pune.jpg' %}" alt="">
              </a>
            </div>
            
            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Surat</h2>
                  <h4 class="quote">The Diamond City</h4>
                </div>
                <img  src="{% static 'core/images/surat.jpg' %}" alt="">
              </a>
            </div>
          
            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Hyderabad</h2>
                  <h4 class="quote">City of Pearls</h4>
                </div>
                <img  src="{% static 'core/images/hyderabad.jpg' %}" alt="">
              </a>
            </div>
          
            <div class="prdt-box">
              {% if curr_user %}
              <a href="{% url 'core:hotels' curr_user.id %}" class="href">
              {% else %}
              <a href="{% url 'core:anon_hotels' %}" class="href">
              {% endif %}
                <div class="content">
                  <h2>Chennai</h2>
                  <h4 class="quote">The Detroit of South India</h4>
                </div>
                <img  src="{% static 'core/images/chennai.jpg' %}" alt="">
              </a>
            </div>
          </div>
        </div> 
      </section>
    </div>
  {% endblock content %}