{% extends 'core/base.html' %}
    
  {% block content %}
  <div class="search-container">
    <div class="hotel_content">
      <div class="info">
        <br>
        <h2>Book Hotels</h2>
        <h4>Your Dream Destination Awaits...</h4>
        <br>
      </div>
      <br>
      <br>
      <div class="booking_info">
        <div class="booking_details">
          <div class="item">
            <input type="text" placeholder=" Enter City" class="search_bar"></i>
          </div>
          <div class="item">
            <input type="text" placeholder=" Enter Date of booking" class="search_bar"></i>
          </div>
          <div class="item">
            <input type="text" placeholder=" Enter Number of Days Stay" class="search_bar"></i>
          </div>
          <div class="item">
            <input type="Number" placeholder="Number of Rooms" class="search_bar"></i>
          </div>
          
          <div class="item">
            <div class="cta active">Search</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <section class="section all-products" id="products">
    <div class="top-container">
      <h1><b>All Hotels</b></h1>
      <div class="filter">
        <form action = "{% url 'store:products' %}" method = "get">
          <select  id="sort" name="sort" >
            <option value="Price-sort" selected disabled> Sort by Price</option>
            <option value="sort_H_to_L">High to Low</option>
            <option value="sort_L_to_H">Low to High</option>
          </select>
            
          <select id="City" name="city">
            <option value="Select as per City"selected disabled> Sort by City</option>
            <option value="Ahmedabad"> Ahmedabad</option>
            <option value="Bengluru">Bengluru</option>
            <option value="Chennai">Chennai</option>
            <option value="Delhi">Delhi</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Jaipur">Jaipur</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Pune">Pune</option>
            <option value="Surat">Surat</option>
          </select>
          
          <button><input class= "but-fil" type="submit" value="Submit"></button>
        </form>
      </div>
    </div>
            
    <div class="categories">
      <h2 id="Ahmedabad"><b>Ahmedabad</b></h2>
      <div class="prods-center container">
        <div class="prods">
          <div class="prods-hd">
            <img src="./images/Ahmedabad/bloomsuites-ahmedabad.jpg" alt="">
          </div>
          
          <div class="prods-footer">
            <a href="hotel-details.html">
              <h3>The Bloomsuites</h3>
            </a>
            <div class="rating">
              <i class="bx bxs-star fa-xs"></i>
              <i class="bx bxs-star fa-xs"></i>
              <i class="bx bxs-star fa-xs"></i>
              <i class="bx bx-star fa-xs"></i>
              <i class="bx bx-star fa-xs"></i>
            </div>
            
            <h3 class="price">₹5000</h3>
          </div>
        </div> 
      </div>
    </div>
  </section>  

  {% endblock content %}