{% extends 'core/base.html' %}

  {% block content %}
  <section class="product-details">
    <div class="details container-md">
      <div class="left">
        <div class="main">
          <img src="{% static product.get_img_name %}" alt="">
        </div>
      </div>
      
      <div class="right">
        <h1>{{ hotel.name }}</h1>
        <h3>{{ hotel.city.name }}</h3>
        <h4>{{ hotel.stars }}-star</h4>
        <h4>User Rating: {{ hotel.get_avg_rating }}/5 (based on {{ hotel.get_review_count }} reviews)</h4>
        <br>
        
        <div class="desc">
          <h4>Hotel Details</h4>
          <div class="booking_info">
            <div class="booking_details">
              {% if curr_user %}
              <form id="add-form" class="form" action="{% url 'core:checkout' curr_user.id hotel.id %}" method="post">
              {% csrf_token %}
              {% else %}
              <form id="add-form" class="form" action="{% url 'core:hotel-signin-redirect' hotel.id %}" method="get">
              {% endif %}
                <div class="item">
                  <label for="checkin">Check-in date:</label>
                  <input name="checkin-date" id="checkin" type="date" class="search_bar" 
                  required {% if checkin-date %}value="{{ checkin-date }}" {% endif %}></i>
                </div>
    
                <div class="item">
                  <label for="checkout">Check-out date:</label>
                  <input name="checkout-date" id="checkout" type="date" class="search_bar" 
                  {required % if checkout-date %}value="{{ checkout-date }}" {% endif %}></i>
                </div>
    
                <div class="item">
                  <input type="number" name="person-count" placeholder="Number of People" 
                  required {% if person-count %}value="{{ person-count }}" {% endif %} 
                  class="search_bar"></i>
                </div>
              </form>
            </div>
          </div>

          <p>Note: Each room can be occupied by a maximum of 2 people.</p>
          <table>
            <tr>
              <th></th>
              <th>
                Room Types
                <br>
              </th>
              
              <th>
                Best Prices
              </th>
            </tr>
            <tr>
              <td>
                <img src="{% static 'core/images/standard-room.webp' %}">
              </td>
              <td>
                <h3>Standard King Room</h3>
                &#10524 250 sq. ft.</br>
                &#10524 Free Wi-Fi</br>
                &#10524 Air Conditioning</br>
                &#10524 24-hour Room Service</br>
                &#10524 Standard size bed</br>
              </td>
              <td>
                <p>Rs. {{ hotel.standard_room_price }}</p> per night per room
                <br>
                
                <form class="form">
                  <button type="submit" form="add-form">Book Now</button>
                </form>
              </td>
            </tr>
              
            <tr>
              <td>
                <img src="{% static 'core/images/suite-room.webp' %}">
              </td>
              <td>
                <h3>Deluxe Suite Room</h3>
                &#10524 450 sq. ft.</br>
                &#10524 Free Wi-Fi</br>
                &#10524 Air Conditioning</br>
                &#10524 24-hour Room Service</br>
                &#10524 King size bed</br>
                &#10524 Free Breakfast</br>
                &#10524 Complimentary Massage</br>
              </td>
              <td>
                <p>Rs. {{ hotel.suite_price }}</p> per night per room
                <br>
                <form class="form">
                  <button type="submit" form="add-form">Book Now</button>
                </form>
              </td>
            </tr>
          </table> 
        </div>
        
        <div class="reviews">
          <ul>
            {% if curr_user %}
            <li>
              <form action="{% url 'core:review' curr_user.id hotel.id %}" method="post">
                {% csrf_token %}
                <div class="review-container">
                  <select name="rating" required>
                    <option value="" selected disabled>Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <br>
                  <textarea placeholder="Write Your review" name="review-text" rows="4" cols="50" required></textarea>
                  <p>Note: If you submit multiple reviews for a hotel, only your latest review will be valid.</p>
                  <button type="submit">Submit</button>
                </div>
              </form>
            </li>
            <br>
            {% endif %}

            {% for review in hotel.review_set.all %}
            <li style="margin-bottom: 1rem;">
              <div class="name" style="margin-left: 0rem;">
                <h4><strong>{{ review.user.first_name }} {{ review.user.last_name }}</strong></h4>
              </div>

              {% if review.is_verified %}
              <button type="button" class="verified-but"
              style="margin: 1rem; background: transparent; color: darkorchid; 
              border: 2px solid darkorchid; padding: 0.5rem 1rem;">
                Verified
              </button>
              {% endif %}

              <div class="rating" style="margin-left: 1rem;">
              {% for i in "12345" %}
                {% if forloop.counter > review.rating %}
                <i class="bx bx-star fa-xs"></i>
                {% else %}
                <i class="bx bxs-star fa-xs"></i>
                {% endif %}
              {% endfor %}
              </div>

              <p style="text-align: center;">{{ review.review_text }}</p>
            </li>
            {% endfor %}

            {% if not curr_user %}
            <li><h4>Sign in to leave a review!</h4></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}